<footer>
  <div class="footer__bg columns">
    <div class="column"></div>
    <div class="column is-half">
      <div class="footer__container container grid">
        <div>
          <h1 class="footer__title">Dowan Kim</h1>
          <span class="footer__subtitle">Full Stack Web Developer</span>
        </div>
        <ul class="footer__links">
          <li>
            <a routerLink="services" class="footer__link">Services</a>
          </li>
          <li>
            <a routerLink="portfolio" class="footer__link">Portfolio</a>
          </li>
          <li>
            <a routerLink="contact" class="footer__link">Contact</a>
          </li>
        </ul>
        <div class="footer__socials">
          <a
            href="https://github.com/dowan1041"
            target="_blank"
            class="footer__social"
          >
            <i class="uil uil-github-alt"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/dowan1041/"
            target="_blank"
            class="footer__social"
          >
            <i class="uil uil-linkedin-alt"></i>
          </a>
          <a
            href="https://www.instagram.com/wandoseaweed/"
            target="_blank"
            class="footer__social"
          >
            <i class="uil uil-instagram"></i>
          </a>
        </div>
      </div>
      <p class="footer__copy">DOWAN1041@gmail.com. All right reserved</p>
    </div>
    <div class="column"></div>
  </div>
</footer>
