<section class="project section columns">
  <div class="column"></div>
  <div class="column is-half">
    <div class="project__bg">
      <div class="project__container container grid">
        <div class="project__data">
          <h2 class="project__title">You have a new project</h2>
          <p class="project__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae,
            quos non quisquam dolore quis blanditiis iste tempore eaque, aperiam
            autem modi perspiciatis id magnam magni quaerat cum, ex voluptatum
            repudiandae.
          </p>
          <a href="" class="button button--flex button--white"
            >Contact Me
            <i class="uil uil-message project__icon button_-icon"></i>
          </a>
        </div>
        <img
          src="./../../../assets/project-nobg.png"
          alt=""
          class="project__img"
        />
      </div>
    </div>
  </div>
  <div class="column"></div>
</section>
