<section class="columns about section" id="about">
  <div class="column"></div>
  <div class="column is-half">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>
    <div class="about__container container grid">
      <img src="./../../../assets/IMG_3013.JPG" alt="" class="about__img" />
      <div class="about__data">
        <p class="about__description">
          I am a full stack web developer <br />
          with Angular, ReactJS and Python.
          <br />
          I am enjoying solving problems <br />to develop my algorithm skills.
          <br />
          I am team player. <br />
        </p>
        <div class="about__info">
          <div>
            <span class="about__info-title">01+</span>
            <span class="about__info-name"
              >Years <br />
              experience</span
            >
          </div>
          <div>
            <span class="about__info-title">20+</span>
            <span class="about__info-name"
              >Completed <br />
              Project</span
            >
          </div>
          <!-- <div>
            <span class="about__info-title">08+</span>
            <span class="about__info-name"
              >Companies <br />
              worked</span
            >
          </div> -->
        </div>
        <div class="about__buttons">
          <a
            download=""
            href="./../../../assets/Dowan Kim.pdf"
            class="button button--flex"
          >
            Download CV<i class="uil uil-download-alt button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</section>
